body {
    font-family: Arial;
    padding: 20px;
    background: #f4f4f4;
}

input {
    margin: 5px;
    padding: 5px;
}

button {
    padding: 6px 10px;
    margin: 5px;
    cursor: pointer;
}

li {
    background: white;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}